<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li>
      <a 
        class="{{ request.url().includes(route('zones.index')) && 'is-active' }}" 
        href="{{ route('zones.index') }}">জোনসমূহ</a></li>
    <li>
      <a 
        class="{{ request.url().includes(route('areas.index')) && 'is-active' }}" 
        href="{{ route('areas.index') }}">এরিয়াসমূহ</a></li>
  </ul>
  
</aside>