.user-menu {
  cursor: pointer;
  display: flex;
  align-items: center;

  &__photo {
    display: inline-block;
    height: 35px;
    width: 35px;
    img {
      width: 100%;
    }
    margin-right: 15px;
  }
  &__name {
    font-size: 18px;
  }
}

.dropdown-menu {
  top: 120%;
  left: -35px;
}
