@layout('layouts.main')

@section('body')
    @include('partials._hero')
    @include('partials._promo-section')
    @include('partials._coverage-section')
    @include('partials._calculator-section')
@endsection
